body{
  background-color:  #ee4a93;
  animation: fadein 2s;
 -moz-animation: fadein 2s; /* Firefox */
 -webkit-animation: fadein 2s; /* Safari and Chrome */
 -o-animation: fadein 2s; /* Opera */
}
* {
  box-sizing: border-box
 }

::-webkit-scrollbar {
width: 17px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: blue; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #bae206; 
}
 #topnav {
 overflow:hidden;
 background-color:#00303f;
 font-weight: bold;
 float: right;
}

#topnav a {
 float: right;
 color: #d1afaf;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

#topnav a:hover {
 background-color:#ee4a93;
 color:#f0e00b;
}

#nav-container {
position: absolute;
top: 10px;
left: 10px;
}

#menu {
height: 40px;
width: 104px;
box-sizing: border-box;
border-radius: 20px;
background: linear-gradient(
 90deg,
 rgba(0, 207, 255, 1) 0%,
 rgb(238, 255, 0) 33.33%,
 rgb(255, 0, 247) 66.66%,
 rgba(0, 207, 255, 1) 100%
);
position: relative;
}
#menu > #resume-btn {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
color: #e11d74;
font-size: 16px;
font-weight: bold;
font-family: "Courier prime", Courier, monospace;
padding: 4px 16px;
text-decoration: none;
background-color: rgb(255, 255, 255);
box-sizing: border-box;
border-radius: 20px;
}
#font{
font-size: 200%;
font-weight: bold;
margin:auto;
font-style: italic;
}
#intro {
height: auto;
display: flex;
padding-top:150px;
align-items: center;
width: 900px;
text-align: center; 
} 


.my-name {
background: -webkit-linear-gradient(
 left,
 rgba(0, 207, 255, 1),
 rgb(238, 255, 0),
 rgb(255, 0, 247),
 rgba(0, 207, 255, 1)
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px rgb(22, 22, 22);
font-size:54px;
}
#frontend {
color: #e11d74;
-webkit-text-stroke: 1px rgb(10, 10, 10);
font-size:54px;
}
.type{
color: black;
font-size:60px;
} 
h1 {
 font-family: "poppins";
}
#polaroid {
width: 25%;
cursor: pointer;
background-color: rgb(255, 255, 255);
box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#container {
text-align:center;
font-size:12px;
margin-top: 15px;
color: black;
}


#image {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

#middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%)
}

#polaroid:hover #image {
opacity: 0.3;
}

#polaroid:hover #middle {
opacity: 1;
}

#text {
background-color: #eeff00;
color: rgb(255, 9, 9);
font-size: 16px;

}

.wrapper {
 margin: 10px 40px 10px 40px;
 max-width: 1500px;
}

.collapsible {
background-color: #b116c5;
color: #fde400;
cursor: pointer;
padding: 15px;
width: 30%;
border-radius: 30px;
text-align: center;
outline: none;
font-size: 30px;
text-transform: uppercase;
text-decoration: underline;
}

.active, .collapsible:hover {
background-color: rgb(8, 156, 255);
}

.content {
max-height: 0;
border-radius: 10px;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color:  #c2065b;
}
#img-wrapper {
display: flex;
 align-items: center;
 justify-content: center
}

#my-pic-AM {
height: 300px;
margin-right: 40px;
border-radius: 20px;
box-shadow: 0 0 2px 2px rgba(0, 207, 255, 1), 0 0 4px 4px rgb(238, 255, 0),
 0 0 6px 6px rgb(255, 0, 247);
border: 4px solid #e11d74;
box-sizing: border-box;
transition: 0.5s;
cursor: pointer;
}

#my-pic-AM:hover {
box-shadow: none;
}
#text-wrapper {
 border-radius: 20px;
 box-shadow: 0 0 2px 2px rgba(0, 207, 255, 1), 0 0 4px 4px rgb(238, 255, 0), 0 0 6px 6px rgb(255, 0, 247);
 padding: 10px;
 border: 4px solid #e11d74;
 box-sizing: border-box;

}
#about-me-text {
 font-size: 20px;
 line-height: 50px;
 font-family: "courier prime";
 font-weight:  bold;
 margin-top: 0;
}
#about-me-container{
display:flex;
}
#flexy{
display: inline-flex;
}
.design{
border-radius: 30px;
}
#list{
list-style-type: none;
}
#fonts{
font-size: 200%;
font-weight: bold;
margin:auto;
font-style: italic;
}
* {box-sizing: border-box}

.bar {
width: 100%;
background-color: #ddd;
}

.skills {
text-align: right;
padding-top: 10px;
padding-bottom: 10px;
color: white;
}

.html {
width: 100%; background-color: #4CAF50;
}
.css {
width: 80%; background-color: #2196F3;
}
.js {
width: 70%; background-color: #f44336;
}

.education-section{
padding:40px;  
}
.education-heading {
margin-top: 70px;
font-size: 44px;
background: -webkit-linear-gradient(
 left,
 rgba(0, 207, 255, 1),
 rgb(238, 255, 0),
 rgb(255, 0, 247),
 rgba(0, 207, 255, 1)
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px rgb(22, 22, 22);
text-transform: uppercase;
text-decoration: underline;
}
.active, .education-heading:hover {
background-color: rgb(8, 156, 255);

}
.education-content {
font-size: 20px;
font-weight: bold;
line-height: 30px;
font-family: "courier prime";
}

.list-wrapper {
position: relative;
overflow: hidden;
max-height: 91px;
transition: max-height 4s;
}

.expand-btn {
border: 2px solid #fbff00;
padding: 4px 12px;
border-radius: 10px;
border-top-left-radius: 0;
background: transparent;
color: #053fff;
font-size: 18px;
font-family: "poppins";
letter-spacing: 2px;
position: relative;
left: 18px;
bottom: 2px;
cursor: pointer;
transition: 0.5s;
}

.expand-btn:focus {
outline: none;
}

ul {
list-style-type:"\1F31F"
}

li {
font-size: 32px;
}

.red-line {
background: #d9ff00;
z-index: -1;
width: 2px;
height: 100%;
position: absolute;
left: 18px;
top: 30px;
}
.size{
font-size:30px;
}
footer {
margin-top: 60px;
}

.footer-wrapper {
padding: 20px;
background-color: #c2065b;
}

hr {
border: none;
border-top: 4px solid black;
}

.flex-icons {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
position: relative;
top: -36px;
}

.flex-icons > div {
background-color: #c2065b;
padding: 10px;
}

.icons {
text-align: center;
}

.mail-btn {
padding: 4px 20px;
background: black;
color: #c2065b;
text-decoration: none;
letter-spacing: 2px;
border-radius: 20px;
box-sizing: border-box;
border: 2px solid white;
margin-top: 6px;
position: relative;
top: 8px;
}

.icons > a > img {
width: 42px;
}

.footer-links-wrapper {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.footer-links-wrapper > div > h4 {
font-size: 1.2em;
text-align: center;
margin: 0;
padding: 0;
margin: 10px;
}

.footer-links-wrapper > div {
display: flex;
justify-content: center;
place-items: center;
flex-wrap: wrap;
color: black;
}

.section-links > a {
font-family: "poppins";
text-decoration: none;
font-size: 1em;
color: black;
margin: 10px;
}
.section-links a:hover {
 background-color:#b116c5;
 color:#f0e00b;
}
.scrollToTopBtn {
background-color: black;
border: none;
border-radius: 50%;
color: white;
cursor: pointer;
font-size: 16px;
line-height: 48px;
width: 48px;

/* place it at the bottom right corner */
position: fixed;
bottom: 30px;
right: 30px;
/* keep it at the top of everything else */
z-index: 100;
/* hide with opacity */
opacity: 0;

transform: translateY(100px);
transition: all .5s ease
}

.showBtn {
opacity: 1;
transform: translateY(0)
}
@keyframes fadein {
from {
     opacity:0;
 }
to {
     opacity:1;
 }
}
@-moz-keyframes fadein { /* Firefox */
from {
     opacity:0;
 }
to {
     opacity:1;
 }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
from {
     opacity:0;
 }
to {
     opacity:1;
 }
}
@media only screen and (max-width: 600px){
  #topnav {
 overflow: hidden;
 background-color:#4f11df;
 font-weight: bold;
 margin-left: auto;
 max-width: 130px;   
}
#topnav a:hover {
 background-color:#ee4a93;
 color:#f0e00b;
}
#topnav a {
 float: right;
 color: #d1afaf;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}
#font{
font-size: 200%;
font-style: italic;
margin-right: 3px;
}
#intro {
padding-top:30px;
width: 400px;
padding-left: 20px;
text-align: center; 
} 
#frontend {
font-size: 40 px;
}
#polaroid {
position: relative;
width: 200%;
margin-top: 100px;
background-color: rgb(255, 255, 255);
box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#container {
text-align:center;
font-size:20px;
color: black;
}
.wrapper {
 margin: 10px 20px 10px 20px;
}
#about-me-container {
 flex-direction: column;
}
#my-pic-AM {
 margin: 0;
 margin-bottom: 20px;
}
#flexy{
position:relative;
display: unset;
}
.collapsible{
width:190px;
}
#fonts{
font-size: 80%;
}

.bar {
width: 90%;
}

.skills {
padding-top: 2px;
padding-bottom:2px;
}
.size{
font-size: 20px;
}

 }